<project>
  <files
    default_encoding="UTF-8"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="3rdparty">
        <dir
          name="ittnotify">
          <dir
            name="include">
            <dir
              name="legacy"/>
          </dir>
          <dir
            name="src">
            <dir
              name="ittnotify"/>
          </dir>
        </dir>
        <dir
          name="libjpeg-turbo">
          <dir
            name="simd">
            <dir
              name="arm">
              <dir
                name="aarch64"/>
            </dir>
          </dir>
          <dir
            name="src"/>
        </dir>
        <dir
          name="libpng">
          <dir
            name="arm"/>
        </dir>
        <dir
          name="libtiff"/>
        <dir
          name="libwebp">
          <dir
            name="sharpyuv"/>
          <dir
            name="src">
            <dir
              name="dec"/>
            <dir
              name="demux"/>
            <dir
              name="dsp"/>
            <dir
              name="enc"/>
            <dir
              name="mux"/>
            <dir
              name="utils"/>
            <dir
              name="webp"/>
          </dir>
        </dir>
        <dir
          name="openexr">
          <dir
            name="Half"/>
          <dir
            name="Iex"/>
          <dir
            name="IlmImf"/>
          <dir
            name="IlmThread"/>
          <dir
            name="Imath"/>
        </dir>
        <dir
          name="openjpeg">
          <dir
            name="openjp2"/>
        </dir>
        <dir
          name="protobuf">
          <dir
            name="src">
            <dir
              name="google">
              <dir
                name="protobuf">
                <dir
                  name="io"/>
                <dir
                  name="stubs"/>
              </dir>
            </dir>
          </dir>
        </dir>
        <dir
          name="zlib"/>
      </dir>
      <dir
        name="apps">
        <dir
          name="annotation"/>
        <dir
          name="interactive-calibration"/>
        <dir
          name="model-diagnostics"/>
        <dir
          name="version"/>
        <dir
          name="visualisation"/>
      </dir>
      <dir
        name="build">
        <dir
          name="3rdparty">
          <dir
            name="ade">
            <dir
              name="ade-0.1.2e">
              <dir
                name="sources">
                <dir
                  name="ade">
                  <dir
                    name="include">
                    <dir
                      name="ade">
                      <dir
                        name="communication"/>
                      <dir
                        name="execution_engine"/>
                      <dir
                        name="helpers"/>
                      <dir
                        name="memory"/>
                      <dir
                        name="metatypes"/>
                      <dir
                        name="passes"/>
                      <dir
                        name="util"/>
                    </dir>
                  </dir>
                  <dir
                    name="source">
                    <dir
                      name="passes"/>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="libjpeg-turbo">
            <dir
              name="simd">
              <dir
                name="arm"/>
            </dir>
          </dir>
          <dir
            name="libtiff"/>
          <dir
            name="openexr"/>
          <dir
            name="openjpeg">
            <dir
              name="openjp2"/>
          </dir>
          <dir
            name="zlib"/>
        </dir>
        <dir
          name="carotene"/>
        <dir
          name="modules">
          <dir
            name="calib3d"/>
          <dir
            name="core">
            <dir
              name="test"/>
          </dir>
          <dir
            name="dnn">
            <dir
              name="int8layers"/>
            <dir
              name="layers">
              <dir
                name="cpu_kernels"/>
            </dir>
          </dir>
          <dir
            name="features2d"/>
          <dir
            name="gapi">
            <dir
              name="backends">
              <dir
                name="fluid"/>
            </dir>
          </dir>
          <dir
            name="highgui"/>
          <dir
            name="imgproc"/>
          <dir
            name="java_bindings_generator">
            <dir
              name="gen">
              <dir
                name="cpp"/>
            </dir>
          </dir>
          <dir
            name="objdetect"/>
          <dir
            name="photo"/>
          <dir
            name="stitching"/>
          <dir
            name="video"/>
        </dir>
        <dir
          name="opencv2"/>
      </dir>
      <dir
        name="hal">
        <dir
          name="carotene">
          <dir
            name="hal"/>
          <dir
            name="src"/>
        </dir>
      </dir>
      <dir
        name="modules">
        <dir
          name="calib3d">
          <dir
            name="include">
            <dir
              name="opencv2">
              <dir
                name="calib3d"/>
            </dir>
          </dir>
          <dir
            name="perf">
            <dir
              name="opencl"/>
          </dir>
          <dir
            name="src">
            <dir
              name="usac"/>
          </dir>
          <dir
            name="test">
            <dir
              name="opencl"/>
          </dir>
        </dir>
        <dir
          name="core">
          <dir
            name="include">
            <dir
              name="opencv2">
              <dir
                name="core">
                <dir
                  name="detail"/>
                <dir
                  name="hal"/>
                <dir
                  name="opencl">
                  <dir
                    name="runtime">
                    <dir
                      name="autogenerated"/>
                  </dir>
                </dir>
                <dir
                  name="openvx"/>
                <dir
                  name="parallel"/>
                <dir
                  name="private"/>
                <dir
                  name="utils"/>
              </dir>
            </dir>
          </dir>
          <dir
            name="misc">
            <dir
              name="java">
              <dir
                name="src">
                <dir
                  name="cpp"/>
              </dir>
            </dir>
          </dir>
          <dir
            name="perf">
            <dir
              name="cuda"/>
            <dir
              name="opencl"/>
          </dir>
          <dir
            name="src">
            <dir
              name="opencl">
              <dir
                name="runtime">
                <dir
                  name="autogenerated"/>
              </dir>
            </dir>
            <dir
              name="parallel"/>
            <dir
              name="utils"/>
          </dir>
          <dir
            name="test">
            <dir
              name="ocl"/>
          </dir>
        </dir>
        <dir
          name="dnn">
          <dir
            name="include">
            <dir
              name="opencv2">
              <dir
                name="dnn"/>
            </dir>
          </dir>
          <dir
            name="misc">
            <dir
              name="caffe"/>
            <dir
              name="java">
              <dir
                name="src">
                <dir
                  name="cpp"/>
              </dir>
            </dir>
            <dir
              name="onnx"/>
            <dir
              name="tensorflow"/>
            <dir
              name="tflite"/>
          </dir>
          <dir
            name="perf"/>
          <dir
            name="src">
            <dir
              name="caffe"/>
            <dir
              name="darknet"/>
            <dir
              name="int8layers"/>
            <dir
              name="layers">
              <dir
                name="cpu_kernels"/>
            </dir>
            <dir
              name="onnx"/>
            <dir
              name="tensorflow"/>
            <dir
              name="tflite"/>
            <dir
              name="torch"/>
            <dir
              name="vkcom">
              <dir
                name="include"/>
              <dir
                name="shader"/>
              <dir
                name="src"/>
              <dir
                name="vulkan"/>
            </dir>
          </dir>
          <dir
            name="test"/>
        </dir>
        <dir
          name="features2d">
          <dir
            name="3rdparty">
            <dir
              name="mscr"/>
          </dir>
          <dir
            name="include">
            <dir
              name="opencv2"/>
          </dir>
          <dir
            name="misc">
            <dir
              name="java">
              <dir
                name="src">
                <dir
                  name="cpp"/>
              </dir>
            </dir>
          </dir>
          <dir
            name="perf">
            <dir
              name="opencl"/>
          </dir>
          <dir
            name="src">
            <dir
              name="kaze"/>
          </dir>
          <dir
            name="test">
            <dir
              name="ocl"/>
          </dir>
        </dir>
        <dir
          name="flann">
          <dir
            name="include">
            <dir
              name="opencv2">
              <dir
                name="flann"/>
            </dir>
          </dir>
          <dir
            name="src"/>
          <dir
            name="test"/>
        </dir>
        <dir
          name="gapi">
          <dir
            name="include">
            <dir
              name="opencv2">
              <dir
                name="gapi">
                <dir
                  name="infer"/>
                <dir
                  name="ocl"/>
                <dir
                  name="own"/>
                <dir
                  name="render"/>
                <dir
                  name="s11n"/>
                <dir
                  name="streaming"/>
                <dir
                  name="util"/>
              </dir>
            </dir>
          </dir>
          <dir
            name="perf">
            <dir
              name="common"/>
            <dir
              name="cpu"/>
            <dir
              name="gpu"/>
            <dir
              name="internal"/>
            <dir
              name="render"/>
            <dir
              name="streaming"/>
          </dir>
          <dir
            name="src">
            <dir
              name="3rdparty">
              <dir
                name="vasot">
                <dir
                  name="src">
                  <dir
                    name="common"/>
                  <dir
                    name="components">
                    <dir
                      name="ot">
                      <dir
                        name="kalman_filter"/>
                      <dir
                        name="mtt"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="api"/>
            <dir
              name="backends">
              <dir
                name="common"/>
              <dir
                name="cpu"/>
              <dir
                name="fluid"/>
              <dir
                name="ie">
                <dir
                  name="giebackend"/>
              </dir>
              <dir
                name="oak"/>
              <dir
                name="ocl"/>
              <dir
                name="onnx"/>
              <dir
                name="ov"/>
              <dir
                name="plaidml"/>
              <dir
                name="python"/>
              <dir
                name="render"/>
              <dir
                name="streaming"/>
            </dir>
            <dir
              name="compiler">
              <dir
                name="passes"/>
            </dir>
            <dir
              name="executor"/>
            <dir
              name="pysrc"/>
            <dir
              name="streaming">
              <dir
                name="gstreamer"/>
              <dir
                name="onevpl">
                <dir
                  name="accelerators">
                  <dir
                    name="surface"/>
                  <dir
                    name="utils"/>
                </dir>
                <dir
                  name="demux"/>
                <dir
                  name="engine">
                  <dir
                    name="decode"/>
                  <dir
                    name="preproc"/>
                  <dir
                    name="transcode"/>
                </dir>
              </dir>
            </dir>
            <dir
              name="utils"/>
          </dir>
          <dir
            name="test">
            <dir
              name="common"/>
            <dir
              name="cpu"/>
            <dir
              name="executor"/>
            <dir
              name="gpu"/>
            <dir
              name="infer"/>
            <dir
              name="internal"/>
            <dir
              name="oak"/>
            <dir
              name="own"/>
            <dir
              name="render"/>
            <dir
              name="rmat"/>
            <dir
              name="s11n"/>
            <dir
              name="streaming"/>
            <dir
              name="util"/>
          </dir>
        </dir>
        <dir
          name="highgui">
          <dir
            name="include">
            <dir
              name="opencv2">
              <dir
                name="highgui"/>
            </dir>
          </dir>
          <dir
            name="src"/>
          <dir
            name="test"/>
        </dir>
        <dir
          name="imgcodecs">
          <dir
            name="include">
            <dir
              name="opencv2"/>
          </dir>
          <dir
            name="perf"/>
          <dir
            name="src"/>
          <dir
            name="test"/>
        </dir>
        <dir
          name="imgproc">
          <dir
            name="include">
            <dir
              name="opencv2">
              <dir
                name="imgproc">
                <dir
                  name="detail"/>
                <dir
                  name="hal"/>
              </dir>
            </dir>
          </dir>
          <dir
            name="perf">
            <dir
              name="opencl"/>
          </dir>
          <dir
            name="src"/>
          <dir
            name="test">
            <dir
              name="ocl"/>
          </dir>
        </dir>
        <dir
          name="java">
          <dir
            name="generator">
            <dir
              name="src">
              <dir
                name="cpp"/>
            </dir>
          </dir>
        </dir>
        <dir
          name="ml">
          <dir
            name="include">
            <dir
              name="opencv2"/>
          </dir>
          <dir
            name="src"/>
          <dir
            name="test"/>
        </dir>
        <dir
          name="objdetect">
          <dir
            name="include">
            <dir
              name="opencv2">
              <dir
                name="objdetect"/>
            </dir>
          </dir>
          <dir
            name="misc">
            <dir
              name="java">
              <dir
                name="src">
                <dir
                  name="cpp"/>
              </dir>
            </dir>
          </dir>
          <dir
            name="perf">
            <dir
              name="opencl"/>
          </dir>
          <dir
            name="src">
            <dir
              name="aruco">
              <dir
                name="apriltag"/>
            </dir>
            <dir
              name="barcode_decoder">
              <dir
                name="common"/>
            </dir>
            <dir
              name="barcode_detector"/>
          </dir>
          <dir
            name="test">
            <dir
              name="opencl"/>
          </dir>
        </dir>
        <dir
          name="photo">
          <dir
            name="include">
            <dir
              name="opencv2">
              <dir
                name="photo"/>
            </dir>
          </dir>
          <dir
            name="perf">
            <dir
              name="opencl"/>
          </dir>
          <dir
            name="src"/>
          <dir
            name="test">
            <dir
              name="ocl"/>
          </dir>
        </dir>
        <dir
          name="stitching">
          <dir
            name="include">
            <dir
              name="opencv2">
              <dir
                name="stitching">
                <dir
                  name="detail"/>
              </dir>
            </dir>
          </dir>
          <dir
            name="perf">
            <dir
              name="opencl"/>
          </dir>
          <dir
            name="src"/>
          <dir
            name="test">
            <dir
              name="ocl"/>
          </dir>
        </dir>
        <dir
          name="ts">
          <dir
            name="include">
            <dir
              name="opencv2">
              <dir
                name="ts"/>
            </dir>
          </dir>
          <dir
            name="src"/>
        </dir>
        <dir
          name="video">
          <dir
            name="include">
            <dir
              name="opencv2">
              <dir
                name="video">
                <dir
                  name="detail"/>
              </dir>
            </dir>
          </dir>
          <dir
            name="perf">
            <dir
              name="opencl"/>
          </dir>
          <dir
            name="src">
            <dir
              name="tracking">
              <dir
                name="detail"/>
            </dir>
          </dir>
          <dir
            name="test">
            <dir
              name="ocl"/>
          </dir>
        </dir>
        <dir
          name="videoio">
          <dir
            name="include">
            <dir
              name="opencv2">
              <dir
                name="videoio">
                <dir
                  name="legacy"/>
              </dir>
            </dir>
          </dir>
          <dir
            name="misc">
            <dir
              name="java">
              <dir
                name="src">
                <dir
                  name="cpp"/>
              </dir>
            </dir>
          </dir>
          <dir
            name="perf"/>
          <dir
            name="src"/>
          <dir
            name="test"/>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="C++"/>
    <language_options
      useLanguagesAsFilter="true"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <codecheck_options/>
  <comparison_options
    comparison_db=""
    git_repo="."
    git_commit=""
    diff_flags="1"/>
  <cpp_options
    add_found_include_files="true"
    add_found_system_include_files="false"
    allow_nested_comments="false"
    analyze_headers_in_isolation="true"
    bracket_depth="256"
    cache_ast_files="false"
    c_std="gnu17"
    compiler="Mac"
    compiler_include_path=""
    create_implicit_special_member_functions="false"
    create_references_in_assembly="true"
    create_references_in_inactive_code="true"
    create_references_to_local_objects="true"
    create_references_to_macros_during_macro_expansion="false"
    create_references_to_parameters="true"
    cxx_std="gnu++17"
    cuda_arch="sm_20"
    delayed_template_parsing="false"
    disable_system_includes="false"
    triple=""
    ignore_dir_in_include_files="false"
    ignore_preprocessor_conditionals="false"
    ios_min_version="5.0"
    linkage_append_text=""
    linkage_prepend_text=""
    macos_min_version="10.7"
    macro_expansion_trunc="0"
    merge_structs="true"
    msc_version=""
    prompt_for_missing_include_files="false"
    objectDataMembers="false"
    objectFunctionMembers="false"
    save_comments_associated_with_entities="true"
    save_duplicate_references="false"
    save_macro_expansion_text="false"
    simplify_macro_expansion="false"
    search_for_include_files_among_project_files="true"
    start_worker_processes_serially="false"
    sysroot=""
    treat_system_includes_as_user_includes="true"
    use_clang="true"
    use_include_cache="true"
    objc_memory_mode="MrrMode"
    worker_process_timeout="2"/>
  <dependency_options
    exclude_standard="true"
    use_includes="true"
    mode="link"/>
  <imports>
    <files>
      <file
        name="./build/compile_commands.json"/>
    </files>
  </imports>
  <metrics
    declared_in_file_display_mode="no_path"
    file_display_mode="no_path"
    show_declared_in_file="false"
    show_function_parameter_types="false"
    write_column_titles="true"
    add_uniquename_column="false"
    metric_filter="28532"/>
  <reports
    date_stamping="false"
    display_parameters="false"
    index_by_method="false"
    group_by_directory="false"
    filename_mode="short"
    generation_status="generated"
    generation_time="242"
    html_clear_directory="false"
    html_generation="true"
    html_mode="alpha"
    headertext_mode="false"
    headerusertext_mode="false"
    headertext_text="Report generated by Understand"
    headerusertext_text=""
    html_size="250"
    text_clear_directory="false"
    text_generation="true"
    text_mode="single">
    <report
      name="Data Dictionary"
      enabled="true"/>
    <report
      name="File Contents"
      enabled="true"/>
    <report
      name="Program Unit Cross Reference"
      enabled="true"/>
    <report
      name="Object Cross Reference"
      enabled="true"/>
    <report
      name="Type Cross Reference"
      enabled="true"/>
    <report
      name="Macro Cross Reference"
      enabled="true"/>
    <report
      name="Include File Cross Reference"
      enabled="true"/>
    <report
      name="Declaration Tree"
      enabled="true"/>
    <report
      name="Extend Tree"
      enabled="false"/>
    <report
      name="Invocation Tree"
      enabled="false"/>
    <report
      name="Simple Invocation Tree"
      enabled="true"/>
    <report
      name="Imports"
      enabled="true"/>
    <report
      name="With Tree"
      enabled="true"/>
    <report
      name="Simple With Tree"
      enabled="true"/>
    <report
      name="Generic Instantiation"
      enabled="true"/>
    <report
      name="Exception Cross Reference"
      enabled="true"/>
    <report
      name="Renames"
      enabled="true"/>
    <report
      name="Program Unit Complexity"
      enabled="true"/>
    <report
      name="Project Metrics"
      enabled="true"/>
    <report
      name="Program Unit Metrics"
      enabled="true"/>
    <report
      name="File Metrics"
      enabled="true"/>
    <report
      name="File Average Metrics"
      enabled="true"/>
    <report
      name="Fortran Extension Usage"
      enabled="true"/>
    <report
      name="Class Metrics"
      enabled="true"/>
    <report
      name="Class OO Metrics"
      enabled="true"/>
    <report
      name="Implicitly Declared Objects"
      enabled="true"/>
    <report
      name="Uninitialized Items"
      enabled="true"/>
    <report
      name="Unused Objects and Functions"
      enabled="true"/>
    <report
      name="Unused Objects"
      enabled="true"/>
    <report
      name="Unused Types"
      enabled="true"/>
    <report
      name="Unused Program Units"
      enabled="true"/>
    <report
      name="Uses Not Needed"
      enabled="true"/>
    <report
      name="Withs Not Needed"
      enabled="true"/>
  </reports>
</project>
